
 @import "dev/positions";
$mp:0.0px; $p: '00';$r: 0.00px;     @include size(-$mp+$r*$u*1.0);

$p: '0025';
$r: 0.25px;

$pm : -$mp+$r*$u*1.0;
@include size(-$mp+$r*$u*1.0);
$p: '005';
$r: 0.5px;
@include size(-$mp+$r*$u*1.0);
$p: '0075';
$r: 0.75px;
@include size(-$mp+$r*$u*1.0);
$p: '015';
$r: 1.5px;
@include size(-$mp+$r*$u*1.0);
$p: '025';
$r: 2.5px;
@include size(-$mp+$r*$u*1.0);

$mp: $u*0.25px;

$p: '01';
$r: 1.0px;
@include size(-$mp+$r*$u*1.0);
$p: '02';
$r: 2.0px;
@include size(-$mp+$r*$u*1.0);
$p: '03';
$r: 3.0px;
@include size(-$mp+$r*$u*1.0);
$p: '04';
$r: 4.0px;
@include size(-$mp+$r*$u*1.0);
$p: '05';
$r: 5.0px;
@include size(-$mp+$r*$u*1.0);
$p: '06';
$r: 6.0px;
@include size(-$mp+$r*$u*1.0);
$p: '07';
$r: 7.0px;
@include size(-$mp+$r*$u*1.0);
$p: '08';
$r: 8.0px;
@include size(-$mp+$r*$u*1.0);
$p: '09';
$r: 9.0px;
@include size(-$mp+$r*$u*1.0);
$p: '10';
$r: 10.0px;
@include size(-$mp+$r*$u*1.0);
$p: '11';
$r: 11.0px;
@include size(-$mp+$r*$u*1.0);
$p: '12';
$r: 12.0px;
@include size(-$mp+$r*$u*1.0);
$p: '13';
$r: 13.0px;
@include size(-$mp+$r*$u*1.0);
$p: '14';
$r: 14.0px;
@include size(-$mp+$r*$u*1.0);
$p: '15';
$r: 15.0px;
@include size(-$mp+$r*$u*1.0);
$p: '16';
$r: 16.0px;
@include size(-$mp+$r*$u*1.0);
$p: '17';
$r: 17.0px;
@include size(-$mp+$r*$u*1.0);
$p: '18';
$r: 18.0px;
@include size(-$mp+$r*$u*1.0);
$p: '19';
$r: 19.0px;
@include size(-$mp+$r*$u*1.0);
$p: '20';
$r: 20.0px;
@include size(-$mp+$r*$u*1.0);
$p: '21';
$r: 21.0px;
@include size(-$mp+$r*$u*1.0);
$p: '22';
$r: 22.0px;
@include size(-$mp+$r*$u*1.0);
$p: '23';
$r: 23.0px;
@include size(-$mp+$r*$u*1.0);
$p: '24';
$r: 24.0px;
@include size(-$mp+$r*$u*1.0);
$p: '25';
$r: 25.0px;
@include size(-$mp+$r*$u*1.0);
$p: '26';
$r: 26.0px;
@include size(-$mp+$r*$u*1.0);
$p: '27';
$r: 27.0px;
@include size(-$mp+$r*$u*1.0);
$p: '28';
$r: 28.0px;
@include size(-$mp+$r*$u*1.0);
$p: '29';
$r: 29.0px;
@include size(-$mp+$r*$u*1.0);
$p: '30';
$r: 30.0px;
@include size(-$mp+$r*$u*1.0);
$p: '31';
$r: 31.0px;
@include size(-$mp+$r*$u*1.0);
$p: '32';
$r: 32.0px;
@include size(-$mp+$r*$u*1.0);

$u : 1.0;
$p: 'p0025';
$r: 0.25%;
$mp: $u*0.25%;
@include size(-$mp+$r*$u*1.0);
$p: 'p005';
$r: 0.5%;
@include size(-$mp+$r*$u*1.0);
$p: 'p0075';
$r: 0.75%;
@include size(-$mp+$r*$u*1.0);
$p: 'p015';
$r: 1.5%;
@include size(-$mp+$r*$u*1.0);
$p: 'p025';
$r: 2.5%;
@include size(-$mp+$r*$u*1.0);

$p: 'p10';
$r: 10.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p15';
$r: 15.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p20';
$r: 20.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p25';
$r: 25.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p30';
$r: 30.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p35';
$r: 35.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p40';
$r: 40.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p45';
$r: 45.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p50';
$r: 50.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p55';
$r: 55.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p60';
$r: 60.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p65';
$r: 65.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p70';
$r: 70.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p75';
$r: 75.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p80';
$r: 80.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p85';
$r: 85.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p90';
$r: 90.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p95';
$r: 95.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'p100';
$r: 100.0%;
@include size(-$mp+$r*$u*1.0);
$p: 'full';
$r: 100.0%;
@include size($r);
$p: 'auto';
$r: auto;
@include size($r);
$p: 'p05';
$r: 5.0%;
@include size(-$mp+$r*$u*1.0);


.z01 { z-index:1010;}
.z02 { z-index:1020;}
.z03 { z-index:1030;}
.z04 { z-index:1040;}
.z05 { z-index:1050;}
.z06 { z-index:1060;}
.z07 { z-index:1070;}
.z08 { z-index:1080;}
.z09 { z-index:1090;}
.z09 { z-index:1090;} 
.z10 { z-index:1100;}
.z11 { z-index:1110;}
.z12 { z-index:1120;}
.z13 { z-index:1130;}
.z14 { z-index:1140;}
.z15 { z-index:1150;}
.z16 { z-index:1160;}
.z17 { z-index:1170;}
.z18 { z-index:1180;}
.z19 { z-index:1190;}
.z20 { z-index:1200;}

.ab{ @include ab;}
.rt{ @include rt;}
