@import "dev/flexy";
@import "dev/positions";
@import "dev/material";


body {
    @include owf;
}

input {
    border: solid 1px rgba(0, 148, 255, 0.38);
    font-family: 'Segoe UI semibold';
}

input[type=button] {
    background-color: #ff6a00;
    cursor: pointer;
} 
input[type=checkbox] {
    border: none !important;
    background-color: #808080 !important;
}
